body,
html {
    color: #ffffff;
    background: #000000;
}

#TituloMayor {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    font-weight: 2px;
    color: #ffffff;
}

.subtitulo {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-weight: 2px;
    color: #ffffff;
}

#centrar {
    text-align: center;
}

p {
    text-align: justify;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
}


/*bold negrita*/

* {
    margin: 0px;
    padding: 0px;
}

#parrafoMayoritario {
    text-align: justify;
    text-align: normal;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
}

#Titulado {
    text-align: justify;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
}

#imagenCentrada {
    display: block;
    margin: auto;
}

.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

.titulo {
    color: #2C3E50;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bajadaTitulo {
    color: #2C3E50;
    font-size: 12;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    position: relative;
    top: 20px;
    width: 90%;
    height: auto;
    background-color: none;
    margin: auto;
}

.container .list-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .list-image li {
    margin-right: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.container .list-image li .container__image {
    position: relative;
    width: 280px;
    height: 250px;
    background-color: #F0F3F4;
    border-radius: 3px;
}

.container .list-image li .container__image img {
    position: relative;
    width: 280px;
    height: 210px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.container .list-image li .container__image .information__image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: none;
    display: flex;
    align-items: center;
    color: #2C3E50
}

.container .list-image li .container__image .information__image .name__image {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: #0F0F0F;
}

.container .list-image li .container__image .information__image .view__moreinfo {
    position: absolute;
    right: 10px;
    display: block;
    text-decoration: none;
    color: #1C2833;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    top: 5px;
    padding: 6px 12px;
    height: 15px;
    line-height: 12px;
    width: auto;
    border-radius: 90px;
    border: 2px solid #888;
}