{% extends 'enciclopedia/base.html' %}

{% block content %}
<header class="redondo">
    <div class="row clearfix:after redondo">
        <div class="logo col-md-12">
            <a class="centrar padding" href="index.html">Black Star</a>
        </div>
    </div>
    <nav class="row">
        <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="index.html">Inicio</a>
        <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="galeria.html">Galeria</a>
        <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="formulario.html">Registrase</a>
    </nav>
</header>

<div class="contenedor redondo">

    <div class="container">
        <ul class="list-image">
            <li>
                <div class="container__image"><img src="static/img/Garrashy_modelo.png" alt="" class="image__">
                    <div class="information__image">
                        <p class="name__image">GARRASHY<br></p>
                    </div>
                    <div class="centrar padding padding">
                        <a href="perfilA.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container__image"><img src="static/img/green_destructor.png" alt="GREEN DESTRUCTOR"
                        class="image__">
                    <div class="information__image">
                        <p class="name__image" id="parrafo">GREEN DESTRUCTOR</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilB.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container__image"><img src="static/img/nukelaber.jpg" alt="NUKELABER" class="image__">
                    <div class="information__image">
                        <p class="name__image">NUKELABER</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilA.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container__image"><img src="static/img/queen.png" alt="QUEEN" class="image__">
                    <div class="information__image">
                        <p class="name__image">QUEEN</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilA.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container__image"><img src="static/img/lucius.png" alt="LUCIUS" class="image__">
                    <div class="information__image">
                        <p class="name__image">LUCIUS</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilA.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="container__image"><img src="static/img/red_hot_.png" alt="RED HOT" class="image__">
                    <div class="information__image">
                        <p class="name__image">RED HOT</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilC.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="container__image"><img src="static/img/Garrashy.png" alt="GARRASHY" class="image__">
                    <div class="information__image">
                        <p class="name__image">GARRASHY</p>
                    </div>
                    <div class="centrar padding">
                        <a href="perfilD.html">
                            <p class="colorRosa"> Ver mas</p>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
{% endblock %}