{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galeria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylePerfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleGaleria.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

    {% load static %}
    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static '../static/js/Confirmacion.js'%}"></script>

    {% endblock %}



    <div class="container-fluid">
        <header class="redondo">
            <div class="row clearfix:after redondo">
                <div class="logo col-md-12">
                    <a class="Centrar" href="index">Black Star</a>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="row clearfix:after main redondo ">
                <li>
                    <a class="letraGamer" href="#"> {{ user.username }}</a>

                </li>
                <li>
                    <a class="letraGamer" href="{% url 'logout' %}"> Cerrar Sesion</a>
                </li>
            </div>
            {% else %}
            <a class="letraGamer" href="{% url 'login' %}"> Iniciar Secion</a>
            {% endif %}
            <nav class="row">
                    <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="{% url 'index' %}">Inicio</a>
                    <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="{% url 'criaturas' %} ">Criaturas</a>
                    <a class="col-xs-12 col-sm-3 CajaPaquete cajaBotonNab letraGamer " href="{% url 'galeria' %}">Galeria</a>
            </nav>
        </header>
        <div class="main redondo galeria  ">
            <a style="color:rgb(245, 51, 187)" class="col-xs-12 col-sm-12 CajaPaquete cajaBotonNab letraGamer "
                href="Nuevo_Post ">Subir imagen</a>
            <h2 class="letraGamer">Galeria</h2>

            <div class="item active">
                <div class="row">

                    <table class="table table-dark">
                        <tr>

                            <th style="color:rgb(245, 51, 187)" ;>nombre de imagen</th>
                            <th style="color:rgb(245, 51, 187)" ;>criatura</th>
                            <th style="color:rgb(245, 51, 187)" ;>Descripcion</th>
                            <th style="color:rgb(245, 51, 187)" ;>imagen</th>
                            <th style="color:rgb(245, 51, 187)" ;>Opciones</th>

                        </tr>
                        {% for p in Posts%}
                        <tr>
                            <th style="color:rgb(255, 255, 255)" ;>{{ p.title }}</th>
                            <th style="color:rgb(255, 255, 255)" ;>{{ p.criarue }}</th>
                            <th style="color:rgb(255, 255, 255)" ;>{{ p.Descripcion }}</th>
                            <th> <img src="{{ p.imagen.url }}"
                                    title="{{ p.created_date }}"></th>
                            <th>
                                <a href="{% url 'modificar_post' p.id %}"> Modificar</a>
                                <a href="#" onclick="Confirmaralerta({{p.id}})"> Eliminar</a>
                            </th>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>