
* {
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
}




.contenedor {
    background: #252325;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;

}

.logo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

body {
     background: url('../img/brillito.gif');
}

header {

    background: rgb(31, 31, 31);

}

header .logo {
    color: #fff;
    font-size: 30px;
}

header .logo img {
    width: 50px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    width: 50%;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: black;
}

header nav a {
    background: #9321c0;
    color: #fff;
    text-align: center;
    margin: 3px;
    text-decoration: none;
    padding: 1%;
    font-size: 18px;
    /* Flexbox */
    flex-grow: 1;
    border-radius: 25px;

}

header nav a:hover {
    background: #e443ce;
    color: #000000;
    text-decoration:none;

}

.main {
    background: rgb(65, 47, 62);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: Regular;
    flex: 1 1 70%;
    /*flex:1;*/
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

aside {
    background: #fff;
    padding: 20px;
    /*FLEX*/
    flex: 1 1 30%;
    /*flex:0 0 300px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

aside .widget {
    background: #fff;
    height: 150px;
    margin: 10px;
}

footer {
    background: #161516;
    width: 100%;
    padding: 20px;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links {
    
    background: #9321c0;
    color: #fff;
    text-align: center;
    margin: 3px;
    text-decoration: none;
    padding: 1%;
    font-size: 18px;
    /* Flexbox */
    flex-grow: 1;
    border-radius: 25px;

}

footer .links a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .links a:hover {
    background: #e443ce;
    color: #000000;
    text-decoration:none;
}

footer .social a {
    background: #9321c0;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    
    border-radius: 25px;
}



@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    aside {
        flex-direction: row;
        flex: 0;
    }
    aside .widget {
        flex-grow: 1;
    }
    aside .content-carrousel {
        width: 105%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    aside {
        flex-direction: column;
    }
    footer {
        justify-content: space-around;
    }
}

.content-all {
    width: 145px;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 10px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    /*height: 120px;*/
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}