* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #ffffff;
}

.BotonVolver {

    padding: 8px 10px;
    border-radius: 25px;
    margin: 9px;
    color: white;
    text-align: center;
    background: #9321c0;

}
.BotonVolver a:hover {
    color: #000000;
    text-decoration: none;
}


.ColorearContenido {
    background: rgb(65, 47, 62);
}

.centrado {
    margin-left: auto;
    margin-right: auto;
}

.redondo {
    border-radius: 25px;
}

body {
    background: url('../img/brillito.gif');
}

.letraGamer {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #ffffff;
}

.Centrar {
    background-attachment: fixed;
}

.cuerpo {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
}

.SubtitulosPreguntas {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}

.Subtitulos {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.NombreCriatura {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

.CajaPaquete {
    text-align: center;
    /*width: 1%; no se quien lo probo pero no fui yo, Isa*/
    /*height: 2rem; se limita e tamaño*/
    padding: 8px 10px;
    border: 4px solid rgb(133, 133, 133);
    border-radius: 25px;
    margin: 9px;
}

.cajaContenidoHistoria {
    text-align: center;
    height: auto;
    padding: auto;
}

.cajaBotonNab {
    text-align: center;
    height: auto;
    padding: auto;
    border: none;
}

.cajaContenidoImagen {
    text-align: center;
    border: 4px solid #ffffff00;
    align-content: center;
    width: 100%;
    display: block;
    margin: auto;
}

.CajaFull {
    width: 100%;
}

#sobre {
    position: absolute;
    top: 301px;
    left: 0px;
    border: none;
}

#encima {
    position: relative;
}

#img2 {
    border: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}