* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #ffffff;
}

.redondo {
    border-radius: 25px;
}

body {
    background: url('../img/brillito.gif');
}

.letraGamer {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #ffffff;
}

.Centrar {
    background-attachment: fixed;
}

.cuerpo {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    color: #ffffff;
}

.SubtitulosPreguntas {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}

.Subtitulos {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
}

.NombreCriatura {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: #ff0000;
    text-align: center;
}

.CajaPaquete {
    text-align: center;
    /*width: 1%; no se quien lo probo pero no fui yo, Isa*/
    height: 2rem;
    padding: 8px 10px;
    border: 4px solid rgb(133, 133, 133);
    border-radius: 25px;
    margin: 9px;
}

.cajaContenidoHistoria {
    text-align: center;
    height: auto;
    padding: auto;
}

.cajaBotonNab {
    text-align: center;
    height: auto;
    padding: auto;
    border: none;
}

.cajaContenidoImagen {
    text-align: center;
    border: 4px solid #ffffff00;
    align-content: center;
    width: 60%;
    display: block;
    margin: auto;
}

.cajaImagenGaleria {
    width: 70%;
    border: 4px solid #ffffff;
    border-radius: 25px;
}

.imagen_post {
    width: 350px;
    height: 350px;
    display: block;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.CajaFull {
    width: 100%;
}